
$light_green :#e3ffea;
$dark_green :#14da8f;
$black :#000000;
$white :#fff;

.App {
  text-align: center;
  background-color: $light_green;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
  