$light_green :#e3ffea;
$dark_green :#14da8f;
$black :#000000;
$white :#fff;

.todos-widget{
    color: $black;
}


.todo-widget-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.todo-widget-list-item{
    font-size: 1rem;
    margin: 8px 0;
    text-align: left;
}
