.about{
    padding: 5rem 3rem 3rem 3rem;
    /* background: #f0fbf7; */
}
.row{
    display: flex;
    justify-content: space-around;
}
.row .column{
    width: 40%;
}
.column .tabs{
    display: flex;
}
.about-img{
    position: relative;
    background-image: url('../assets/about-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center center;
    height: 800px;
    width: 100%;
}
.about-img2{
    position: relative;
    background-image: url('../assets/about-img2-bio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center center;
    height: 400px;
    width: 100%;
}
.content{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.tabs h2{
    font-size: 60px;
    font-weight: 600; 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center !important;
}
.content h2{
    font-size: 40px;
    font-weight: 550;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
.content p{
    padding-bottom: 1rem;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 600;
    color: #646464;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width:768px){
    .about{
        padding: 2rem 1rem 3rem 1rem;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        height: 500px;
    }
    .about-img2{
        height: 300px;
    }
    .row .column{
        width: 100%;
    }
    .tabs{
        padding-top: 3rem;
    }
}